XMLSchemas/ed/cbr_ed109_v2017.4.2.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

ППС

Схемы с описанием прикладных частей электроных сообщений, используемых в расчетной сети Банка России.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2017.4.2">
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2017.4.2.xsd"/>
	<xs:include schemaLocation="cbr_ed_objects_v2017.4.2.xsd"/>
	<xs:include schemaLocation="cbr_ed101_v2017.4.2.xsd"/>
	<xs:include schemaLocation="cbr_ed103_v2017.4.2.xsd"/>
	<xs:include schemaLocation="cbr_ed104_v2017.4.2.xsd"/>
	<xs:include schemaLocation="cbr_ed105_v2017.4.2.xsd"/>
	<xs:include schemaLocation="cbr_ed107_v2017.4.2.xsd"/>
	<xs:include schemaLocation="cbr_ed108_v2017.4.2.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:complexType name="RefFTI">
		<xs:annotation>
			<xs:documentation>Связанное платежное распоряжение.</xs:documentation>
			<xs:documentation>Related FTI.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="ed:ED101">
				<xs:annotation>
					<xs:documentation>Платежное поручение.</xs:documentation>
					<xs:documentation>Customer Credit Transfer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ed:ED103">
				<xs:annotation>
					<xs:documentation>Платежное требование.</xs:documentation>
					<xs:documentation>Payment Request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ed:ED104">
				<xs:annotation>
					<xs:documentation>Инкассовое поручение.</xs:documentation>
					<xs:documentation>Collection Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ed:ED105">
				<xs:annotation>
					<xs:documentation>Платежный ордер.</xs:documentation>
					<xs:documentation>Special Payment Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ed:ED107">
				<xs:annotation>
					<xs:documentation>Поручение банка.</xs:documentation>
					<xs:documentation>Interbank Payment Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ed:ED108">
				<xs:annotation>
					<xs:documentation>Платежное поручение на общую сумму с реестром.</xs:documentation>
					<xs:documentation>Payment Order for a total amount with the register (transaction bulk).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FreeFieldsType">
		<xs:annotation>
			<xs:documentation>Поля 25-29 (свободные реквизиты).</xs:documentation>
			<xs:documentation>Fields 25-29 (Free attributes).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Field25" type="lt:Max2TextType" use="required">
			<xs:annotation>
				<xs:documentation>Поле 25. Свободный реквизит.</xs:documentation>
				<xs:documentation>Field 25. Free Attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Field26" type="lt:CashDocIDType">
			<xs:annotation>
				<xs:documentation>Поле 26. Свободный реквизит.</xs:documentation>
				<xs:documentation>Field 26. Free Attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Field27" type="lt:DateType">
			<xs:annotation>
				<xs:documentation>Поле 27. Свободный реквизит.</xs:documentation>
				<xs:documentation>Field 27. Free Attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Field28" type="lt:Max35TextType">
			<xs:annotation>
				<xs:documentation>Поле 28. Свободный реквизит.</xs:documentation>
				<xs:documentation>Field 28. Free Attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Field29" type="lt:Max35TextType">
			<xs:annotation>
				<xs:documentation>Поле 29. Свободный реквизит.</xs:documentation>
				<xs:documentation>Field 29. Free Attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CustomerOrderType">
		<xs:annotation>
			<xs:documentation>Реквизиты плательщика/получателя.</xs:documentation>
			<xs:documentation>Attributes of Payer/Benefitiary (Payer Agent/Creditor).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="lt:Max160TextType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование плательщика/получателя.</xs:documentation>
					<xs:documentation>Name of Payer/Benefitiary (Debtor/Creditor).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BIC" type="lt:BICRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>БИК.</xs:documentation>
				<xs:documentation>National BIC (CBR Subdivision National BIC).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Acc" type="lt:AccountNumberRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>Номер счета, открытый в Банке России.</xs:documentation>
				<xs:documentation>Payer's (Payer's) Account Number (Field 9)/Benefitiary's (Creditor's) Account Number (Field 17).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED109" type="ed:ED109"/>
	<xs:complexType name="ED109">
		<xs:annotation>
			<xs:documentation>Банковский ордер</xs:documentation>
			<xs:documentation>Bank Order</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ED">
				<xs:sequence>
					<xs:element name="AccDoc" type="ed:AccDocRefID">
						<xs:annotation>
							<xs:documentation>Реквизиты исходного распоряжения о переводе денежных средств (поля 3 и 4).</xs:documentation>
							<xs:documentation>Initial Paper Settlement Document Attributes (fields 3 and 4).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PayerOrd" type="ed:CustomerOrderType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Реквизиты плательщика.</xs:documentation>
							<xs:documentation>Payer (Payer Agent) Attributes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PayeeOrd" type="ed:CustomerOrderType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Реквизиты получателя средств.</xs:documentation>
							<xs:documentation>Attributes of Benefitiary (Creditor).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Purpose" type="lt:Max210TextType">
						<xs:annotation>
							<xs:documentation>Назначение платежа (поле 24).</xs:documentation>
							<xs:documentation>Purpose of Payment (Field 24).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Field7a" type="lt:Max35TextType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поле 7а. Свободный реквизит.</xs:documentation>
							<xs:documentation>Field 7а. Free attribute.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FreeFields" type="ed:FreeFieldsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поля 25-29 (свободные реквизиты).</xs:documentation>
							<xs:documentation>Fields 25-29 (Free attributes).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InitialED" type="ed:EDRefID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы исходного ЭПС (поля 203-205).</xs:documentation>
							<xs:documentation>Initial FTI Identifiers (fields 203-205).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ParticipantBusinessScenario" type="lt:ParticipantBusinessScenarioType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор бизнес-сценария, определяемый участником.</xs:documentation>
							<xs:documentation>Participant-defined Business Scenario.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SettlementCondition" type="ed:SettlementCondition" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты условия исполнения распоряжения.</xs:documentation>
							<xs:documentation>Payment Settlement Condition Attributes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RefFTI" type="ed:RefFTI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Платежное распоряжение, связанное с банковским ордером.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProcessingDetails" type="ed:ProcessingDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор бизнес-сценария, определяемый системой.</xs:documentation>
							<xs:documentation>System-defined Business Scenario Identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="EDReceiver" type="lt:EDDrawerIDType">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор получателя ЭС.</xs:documentation>
						<xs:documentation>EM Receiver Unique Identifier.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SystemCode" type="lt:TwoDigitCodeType">
					<xs:annotation>
						<xs:documentation>Признак системы обработки.</xs:documentation>
						<xs:documentation>Fund transfer service (urgent/non-urgent).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Sum" type="lt:KopeckAmountType" use="required">
					<xs:annotation>
						<xs:documentation>Сумма (поле 7).</xs:documentation>
						<xs:documentation>Amount (Field 7).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="TransKind" type="lt:TwoDigitCodeType" use="required" fixed="17">
					<xs:annotation>
						<xs:documentation>Вид операции (поле 18).</xs:documentation>
						<xs:documentation>FTI Type (Field 18).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Priority" type="lt:PaytPriorityCodeType" use="required">
					<xs:annotation>
						<xs:documentation>Очередность платежа (поле 21).</xs:documentation>
						<xs:documentation>FTI Sequence (Field 21).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="PaymentPrecedence" type="lt:TwoDigitCodeType">
					<xs:annotation>
						<xs:documentation>Приоритет платежа.</xs:documentation>
						<xs:documentation>Payment Priority. Mandatory for all FTIs.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
