XMLSchemas/ed/cbr_ed802_v2017.4.2.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

ППС

Схемы с описанием прикладных частей электроных сообщений, используемых в расчетной сети Банка России.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2017.4.2">
	<xs:include schemaLocation="cbr_ed_objects_v2017.4.2.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2017.4.2.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ArrestInfoType">
		<xs:annotation>
			<xs:documentation>Общая сумма и общая неоплаченная сумма арестов и/или ограничений по счету.</xs:documentation>
			<xs:documentation>Total Amount of Arrest (Limitation) and Total Unpaid Amount of Arrest (Limitation) on account.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="TotalAmount" type="lt:NotNegativeKopeckAmountType">
			<xs:annotation>
				<xs:documentation>Общая сумма арестов и/или ограничений по счету.</xs:documentation>
				<xs:documentation>Total Amount of Arrest (Limitation) on account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ArrestedAmount" type="lt:NotNegativeKopeckAmountType">
			<xs:annotation>
				<xs:documentation>Общая сумма средств, зарезервированная в счет арестов и/или ограничений по счету.</xs:documentation>
				<xs:documentation>Total Amount of funds reserved in consideration for Arrest (Limitation) to account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OutstandingAmount" type="lt:NotNegativeKopeckAmountType">
			<xs:annotation>
				<xs:documentation>Общая неоплаченная сумма арестов и/или ограничений по счету.</xs:documentation>
				<xs:documentation>Total Unpaid (Outstanding) Amount of Arrest (Limitation) on account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IndeterminateAmountFlag" type="lt:IndicatorType" use="required">
			<xs:annotation>
				<xs:documentation>Индикатор ареста на неопределенную сумму.</xs:documentation>
				<xs:documentation>Indeterminate account Flag.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CntAndAmountByGroup">
		<xs:annotation>
			<xs:documentation>Количество и сумма платежных распоряжений во внутридневной очереди о списании/зачислении в разбивке по счету зачисления/списания.</xs:documentation>
			<xs:documentation>Quantity and Amount of FTIs in Intraday Queue for crediting classified by Credit Account.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="BIC" type="lt:BICRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>БИК кредитной организации или БИК ПБР, обслуживающей счет.</xs:documentation>
				<xs:documentation>Bank's National BIC or Serving CBR Subdivision National BIC.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Acc" type="lt:AccountNumberRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>Номер счета.</xs:documentation>
				<xs:documentation>Credit account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Cnt" type="lt:Max9QuantityType" use="required">
			<xs:annotation>
				<xs:documentation>Количество.</xs:documentation>
				<xs:documentation>Quantity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Amount" type="lt:KopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Сумма.</xs:documentation>
				<xs:documentation>Amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AmountByGroup">
		<xs:annotation>
			<xs:documentation>Количество и сумма платежных распоряжений во внутридневной очереди о списании/зачислении в разбивке по счету зачисления/списания.</xs:documentation>
			<xs:documentation>Quantity and Amount of FTIs in Intraday Queue for crediting classified by Debit Account.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="BIC" type="lt:BICRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>БИК кредитной организации или БИК ПБР, обслуживающей счет.</xs:documentation>
				<xs:documentation>Bank's National BIC or Serving CBR Subdivision National BIC.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Acc" type="lt:AccountNumberRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>Номер счета.</xs:documentation>
				<xs:documentation>Credit account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Amount" type="lt:KopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Сумма.</xs:documentation>
				<xs:documentation>Amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CreditQueuedGroup">
		<xs:annotation>
			<xs:documentation>Сумма Платежных распоряжений во внутридневной очереди о зачислении в разбивке по группам.</xs:documentation>
			<xs:documentation>Amount of FTIs in Intraday Queue (breakdown according to the debit account of the FTI).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ByDebitAccount" type="ed:AmountByGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сумма платежных распоряжений во внутридневной очереди о зачислении в разбивке по счету списания.</xs:documentation>
					<xs:documentation>Quantity and Amount of FTIs in Intraday Queue for crediting classified by Debit Account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="GroupCode" type="lt:FTIGroupCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Код группы.</xs:documentation>
				<xs:documentation>Group code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Amount" type="lt:KopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Сумма.</xs:documentation>
				<xs:documentation>Amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DebitQueuedGroup">
		<xs:annotation>
			<xs:documentation>Количество и сумма Платежных распоряжений во внутридневной очереди о списании в разбивке по группам.</xs:documentation>
			<xs:documentation>Quantity and Amount of queued FTIs for debiting account in breakdown by groups.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ByCreditAccount" type="ed:CntAndAmountByGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Количество и сумма платежных распоряжений во внутридневной очереди о списании в разбивке по счету зачисления.</xs:documentation>
					<xs:documentation>Quantity and Amount of FTIs in Intraday Queue (breakdown according to the credit account of the FTI).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="GroupCode" type="lt:FTIGroupCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Код группы.</xs:documentation>
				<xs:documentation>Group code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Cnt" type="lt:Max9QuantityType" use="required">
			<xs:annotation>
				<xs:documentation>Количество.</xs:documentation>
				<xs:documentation>Quantity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Amount" type="lt:KopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Сумма.</xs:documentation>
				<xs:documentation>Amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DebitQueuedPayments">
		<xs:annotation>
			<xs:documentation>Информация о находящихся в очереди Платежных распоряжениях о списании средств со счета.</xs:documentation>
			<xs:documentation>Information on queued FTI’s debiting the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DebitQueuedGroup" type="ed:DebitQueuedGroup" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Количество и сумма Платежных распоряжений во внутридневной очереди о списании в разбивке по группам.</xs:documentation>
					<xs:documentation>Quantity and Amount of queued FTIs for debiting account in breakdown by groups.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditQueuedPayments">
		<xs:annotation>
			<xs:documentation>Информация о находящихся в очереди платежных распоряжениях о зачислении средств на счет.</xs:documentation>
			<xs:documentation>Information on queued FTI’s crediting the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CreditQueuedGroup" type="ed:CreditQueuedGroup" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Сумма Платежных распоряжений во внутридневной очереди о зачислении в разбивке по группам.</xs:documentation>
					<xs:documentation>Amount of FTIs in Intraday Queue (breakdown according to the debit account of the FTI).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LiquidityInfo">
		<xs:annotation>
			<xs:documentation>Информация о ликвидности.</xs:documentation>
			<xs:documentation>Liquidity Information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Balance" type="lt:BalanceKopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Остаток на счете (дебетовый остаток - отрицательный, кредитовый - положительный).</xs:documentation>
				<xs:documentation>(Current) Balance of Participant account (Debit Balance - negative, Credit Balance - positive).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NetAvailableLiquidity" type="lt:KopeckAmountType">
			<xs:annotation>
				<xs:documentation>Чистая доступная ликвидность.</xs:documentation>
				<xs:documentation>Net Available Liquidity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LiquidityInfoType">
		<xs:annotation>
			<xs:documentation>Информация о ликвидности.</xs:documentation>
			<xs:documentation>Liquidity Information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="NetAvailableLiquidity" type="lt:KopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Чистая доступная ликвидность.</xs:documentation>
				<xs:documentation>Net Available Liquidity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ED802Account">
		<xs:annotation>
			<xs:documentation>Информация о ликвидности счета Участника. Для головных участников пула информация может предоставляться по всем счетам подчиненных участников пула.</xs:documentation>
			<xs:documentation>Liquidity Information for Participant’s Account. Information for Leading Pool Participants can be provided about all Subordinate Pool Participants Accounts.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LimitInfo" type="ed:LimitInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Значение и использование лимита.</xs:documentation>
					<xs:documentation>Value and Usage of Limit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidityInfo" type="ed:LiquidityInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о ликвидности.</xs:documentation>
					<xs:documentation>Full Liquidity Information / Brief Liquidity Information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationInfo" type="ed:ReservationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о резервированиях.</xs:documentation>
					<xs:documentation>Reservation Information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrestInfo" type="ed:ArrestInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общая сумма и общая неоплаченная сумма арестов и/или ограничений по счету.</xs:documentation>
					<xs:documentation>Total Amount of Arrest (Limitation) and Total Unpaid Amount of Arrest (Limitation) on account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebitQueuedPayments" type="ed:DebitQueuedPayments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о находящихся в очереди Платежных распоряжениях о списании средств со счета.</xs:documentation>
					<xs:documentation>Information on queued FTI’s debiting the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditQueuedPayments" type="ed:CreditQueuedPayments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о находящихся в очереди платежных распоряжениях о зачислении средств на счет.</xs:documentation>
					<xs:documentation>Information on queued FTI’s crediting the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BIC" type="lt:BICRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>БИК Кредитной организации или БИК ПБР, обслуживающей счет (если Участник не является кредитной организацией).</xs:documentation>
				<xs:documentation>Bank's National BIC or Serving CBR Subdivision National BIC.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Acc" type="lt:AccountNumberRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>Номер счета Участника.</xs:documentation>
				<xs:documentation>Participant Account Number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SpecialModeIndicator" type="lt:IndicatorType" use="required">
			<xs:annotation>
				<xs:documentation>Признак того, что к счету имеется очередь неисполненных в срок распоряжений.</xs:documentation>
				<xs:documentation>Indicator Queue of FTIs not settled in time exists for the account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LPInfo">
		<xs:annotation>
			<xs:documentation>Информация о пуле ликвидности.</xs:documentation>
			<xs:documentation>Liquidity Pool Information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LimitInfo" type="ed:LimitInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Значение и использование лимита.</xs:documentation>
					<xs:documentation>Value and Usage of Limit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidityInfo" type="ed:LiquidityInfoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Информация о ликвидности.</xs:documentation>
					<xs:documentation>Full Liquidity Information / Brief Liquidity Information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationInfo" type="ed:ReservationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о резервированиях.</xs:documentation>
					<xs:documentation>Reservation Information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrestInfo" type="ed:ArrestInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общая сумма и общая неоплаченная сумма арестов и/или ограничений по счету.</xs:documentation>
					<xs:documentation>Total Amount of Arrest (Limitation) and Total Unpaid Amount of Arrest (Limitation) on account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BIC" type="lt:BICRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>БИК Кредитной организации или БИК ПБР, обслуживающей счет (если Участник не является кредитной организацией).</xs:documentation>
				<xs:documentation>Bank's National BIC or Serving CBR Subdivision National BIC.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Acc" type="lt:AccountNumberRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>Номер счета Участника.</xs:documentation>
				<xs:documentation>Participant Account Number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED802" type="ed:ED802"/>
	<xs:complexType name="ED802">
		<xs:annotation>
			<xs:documentation>Информация о ликвидности</xs:documentation>
			<xs:documentation>Full Liquidity Information / Brief Liquidity Information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ESID">
				<xs:sequence>
					<xs:element name="LPInfo" type="ed:LPInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о пуле ликвидности.</xs:documentation>
							<xs:documentation>Liquidity Pool Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Account" type="ed:ED802Account" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о ликвидности счета Участника. Для головных участников пула информация может предоставляться по всем счетам подчиненных участников пула.</xs:documentation>
							<xs:documentation>Liquidity Information for Participant’s Account. Information for Leading Pool Participants can be provided about all Subordinate Pool Participants Accounts.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InitialED" type="ed:EDRefID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы исходного ЭСИС-запроса.</xs:documentation>
							<xs:documentation>Initial ESIM-request Identifiers.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="InfoTypeCode" type="lt:RequestCodeType" use="required">
					<xs:annotation>
						<xs:documentation>Вид представления информации.</xs:documentation>
						<xs:documentation>Info Type.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CreationReason" type="lt:ReasonCodeType" use="required">
					<xs:annotation>
						<xs:documentation>Код причины формирования ЭСИС (запрос Участника, окончание консолидированного рейса и т.д.).</xs:documentation>
						<xs:documentation>Reason Code of ESIM generation (request of Participant, end of concolidated cycle, etc.).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CreationDateTime" type="lt:DateTimeType" use="required">
					<xs:annotation>
						<xs:documentation>Дата/время создания сообщения.</xs:documentation>
						<xs:documentation>EM Creation Date and Time.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="PoolInfoFlag" type="lt:IndicatorType" use="required">
					<xs:annotation>
						<xs:documentation>Флаг, указывающий на необходимость предоставления информации по всем счетам пула (при запросе головным участником пула).</xs:documentation>
						<xs:documentation>Flag indicating that reply EM should contain all the information related to all subordinate pool members (if the request was created by head of liquidity pool).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
