XMLSchemas/ed/cbr_ed238_v2017.4.2.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

ППС

Схемы с описанием прикладных частей электроных сообщений, используемых в расчетной сети Банка России.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" version="2017.4.2">
	<xs:include schemaLocation="cbr_ed_objects_v2017.4.2.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2017.4.2.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ED238ArrestInfoType">
		<xs:annotation>
			<xs:documentation>Общая сумма и общая неоплаченная сумма арестов и/или ограничений по счету.</xs:documentation>
			<xs:documentation>Total Amount of Arrest (Limitation) and Total Unpaid Amount of Arrest (Limitation) on account.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="TotalAmount" type="lt:NotNegativeKopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Общая сумма арестов и/или ограничений по счету.</xs:documentation>
				<xs:documentation>Total Amount of Arrest (Limitation) on account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ArrestedAmount" type="lt:NotNegativeKopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Общая сумма средств, зарезервированная в счет арестов и/или ограничений по счету.</xs:documentation>
				<xs:documentation>Total Amount of funds reserved in consideration for Arrest (Limitation) to account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OutstandingAmount" type="lt:NotNegativeKopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Общая неоплаченная сумма арестов и/или ограничений по счету.</xs:documentation>
				<xs:documentation>Total Unpaid (Outstanding) Amount of Arrest (Limitation) on account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ED238AccountType">
		<xs:annotation>
			<xs:documentation>Для головных участников пула информация может предоставляться по всем счетам подчиненных участников пула.</xs:documentation>
			<xs:documentation>For each account for which statement is provided.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LimitInfo" type="ed:LimitInfoBrfType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение и использование лимита ВДК.</xs:documentation>
					<xs:documentation>IOCL (limit of intraday credit) Value and Usage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrestInfo" type="ed:ED238ArrestInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общая сумма и общая неоплаченная сумма арестов и/или ограничений по счету.</xs:documentation>
					<xs:documentation>Total Amount of Arrest (Limitation) and Total Unpaid Amount of Arrest (Limitation) on account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationInfo" type="ed:ReservationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о резервированиях.</xs:documentation>
					<xs:documentation>Reservation Information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransInfo" type="ed:ED238TransInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Информация об одной операции по лицевому счету в выписке.</xs:documentation>
					<xs:documentation>Information about single operation on account in statement.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BIC" type="lt:BICRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>БИК подразделения Банка России, в котором открыт счет.</xs:documentation>
				<xs:documentation>BIC of Servicing CBR Subdivision.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Acc" type="lt:AccountNumberRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>Номер счета, по которому формируется ЭСИС.</xs:documentation>
				<xs:documentation>Account Number on which ESIM is generated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreditSum" type="lt:KopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Общая сумма распоряжений по кредиту счета участника (если больше нуля).</xs:documentation>
				<xs:documentation>Total Amount of FTIs that credit Participant’s account (if above zero).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DebitSum" type="lt:KopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Общая сумма распоряжений по дебету счета участника (если больше нуля).</xs:documentation>
				<xs:documentation>Total Amount of FTIs that debit Participant’s account (if above zero).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EnterBal" type="lt:BalanceKopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Входящий остаток на счете участника (дебетовый остаток - отрицательный, кредитовый - положительный).</xs:documentation>
				<xs:documentation>Opening Balance on Participant account (Debit Balance - negative, Credit Balance - positive).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OutBal" type="lt:BalanceKopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Исходящий (текущий) остаток на счете участника (дебетовый остаток - отрицательный, кредитовый - положительный).</xs:documentation>
				<xs:documentation>Closing (Current) Balance on Participant account (Debit Balance - negative, Credit Balance - positive).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastMovetDate" type="lt:DateType">
			<xs:annotation>
				<xs:documentation>Дата предыдущего движения по счету</xs:documentation>
				<xs:documentation>Last Movement Date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ED238TransInfo">
		<xs:annotation>
			<xs:documentation>Информация об одной операции по лицевому счету в выписке.</xs:documentation>
			<xs:documentation>Information about single operation on account in statement.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Session" type="ed:Session">
				<xs:annotation>
					<xs:documentation>Тип и номер рейса в котором произошло исполнение распоряжения (или время исполнения) (если распоряжение исполнено в рейсе).</xs:documentation>
					<xs:documentation>Settlement Cycle Type and Number (Or Settlement Time) when FTI was settled (if FTI was settled in cycle).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDRefID" type="ed:EDRefID">
				<xs:annotation>
					<xs:documentation>Ссылочные реквизиты ЭПС.</xs:documentation>
					<xs:documentation>EM referenced group attributes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AccDocDate" type="lt:DateType" use="required">
			<xs:annotation>
				<xs:documentation>Дата составления распоряжения (поле 4).</xs:documentation>
				<xs:documentation>Initial Paper Document Issue Date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AccDocNo" type="lt:AccountDocIDType" use="required">
			<xs:annotation>
				<xs:documentation>Номер распоряжения (поле 3).</xs:documentation>
				<xs:documentation>Initial Paper Document Number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DC" type="lt:OneDigitCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Признак дебета/кредита.</xs:documentation>
				<xs:documentation>Debit/Credit flag.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Sum" type="lt:KopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Сумма ЭПС.</xs:documentation>
				<xs:documentation>FTI's Amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransKind" type="lt:TwoDigitCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Вид операции. Условное обозначение шифра документа, на основании которого совершается операция по счету.</xs:documentation>
				<xs:documentation>FTI Type. Conditional description of document code on base of which operation on the account is executed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED238" type="ed:ED238"/>
	<xs:complexType name="ED238">
		<xs:annotation>
			<xs:documentation>Извещение об операциях по счету</xs:documentation>
			<xs:documentation>Account Statement</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ESIDWithPartInfo">
				<xs:sequence>
					<xs:element name="Session" type="ed:Session" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип и номер рейса (или время исполнения), по окончании которого произошло формирование извещения.</xs:documentation>
							<xs:documentation>Settlement Cycle Type and Number (or Settlement Time).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Account" type="ed:ED238AccountType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Для каждого счета, по которому предоставляется извещение.</xs:documentation>
							<xs:documentation>For each account statement is generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="AbstractDate" type="lt:DateType" use="required">
					<xs:annotation>
						<xs:documentation>Дата, на которую формируется выписка.</xs:documentation>
						<xs:documentation>Date for which Interim Account Statement is generated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="AbstractKind" type="lt:OneDigitCodeType" use="required">
					<xs:annotation>
						<xs:documentation>Тип выписки.</xs:documentation>
						<xs:documentation>Statement Type.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CreationDateTime" type="lt:DateTimeType" use="required">
					<xs:annotation>
						<xs:documentation>Дата и время составления извещения.</xs:documentation>
						<xs:documentation>Date and Time of statement creation.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
